body {
	font: 75%/ 1.5em Helvetica, Arial, sans-serif;
	background-color: black;
	color: #ccc;
}

blockquote {
	border-left: 10px solid #EAEAEA;
	padding-left: 10px;
	margin: 0;
}

pre,code {
	font: 12px Consolas, Monaco, "Lucida Console", monospace;
}

pre {
	background: rgba(0, 0, 0, 0.5);
	padding: 1%;
	width: 98%;
}

textarea {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #333;
	color: white;
}

.info p {
	padding: 0;
	margin: 5px 0;
}

.info p:first-child {
	margin: 0;
}

.posts {
	clear: both;
	list-style: none;
	margin-left: 0;
	padding: 0;
}

.posts > li {
	padding: 10px;
	overflow: hidden;
	height: 1%;
}

.posts > li:not(:first-child) {
	margin-top: 5px;
}

.posts .info {
	float: left;
	overflow: hidden;
	padding: 1%;
	width: 20%;
}

.posts .content {
	float: right;
	overflow: hidden;
	padding: 1%;
	width: 75%;
}

.posts li.deleted {
	background: rgba(128, 128, 128, 0.5);
}

.actions {
	float: right;
	list-style: none;
}

.actions > li {
	display: inline;
	margin-left: 5px;
	padding: 0;
}

.message-unread > a {
	color: red !important;
}

.spamforum {
	color: red !important;
}

.ownpost, .self {
	color: green !important;
}

.table {
	display: table;
}

.table .tr {
	display: table-row;
}

.table .td {
	display: table-cell;
}

#tab-messages .td, #tab-boards .td {
	padding: 10px;
}

#tab-messages .td:first-child, #tab-boards .td:first-child {
	padding-left: 0;
}

#tab-messages .td:last-child, #tab-boards .td:last-child {
	padding-right: 0;
}

#top {
	background-color: black;
	position: fixed;
	top: 0;
	height: 55px;
	width: 100%;
	z-index: 1000;
	overflow: hidden;
}

#top > * {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1%;
	height: 100%;
	display: table;
}

#tabs {
	margin-top: 60px;
}

#buttons {
	float: left;
	overflow: hidden;
}

#infobox {
	float: right;
	overflow: hidden;
	text-align: right;
}

#notifications, #serverstatus,
#mailboxes a,
#messages a,
#boards a,
#board a,
#newest a,
#userlist a,
.posts .actions li {
	cursor: pointer;
}

dl {
	overflow: hidden;
}

dt {
	float: left;
	font-weight: bold;
	padding-left: 5px;
	margin: 0;
	width: 16em;
}

dd {
	margin-bottom: 5px;
	margin-left: 17em;
}

#reportspam textarea.comment {
	width: 100%;
	height: 100%;
}


fieldset {
	clear: left;
}

legend {
	color: #666;
	letter-spacing: 1px;
	padding-right: 5px;
	text-transform: uppercase;
}

label {
	margin-right: 5px;
	float: left;
	width: 16em;
}

fieldset p {
	overflow: hidden;
}

#phishing-info {
	font-size: 1.5em;
}
